<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:label="DEAD DISTRICT: ZOMBIE APOCALYPSE" android:icon="@drawable/ic_dead_district" android:roundIcon="@drawable/ic_dead_district" android:allowBackup="true" android:supportsRtl="true">
        <activity android:name=".ZombieActivity" android:screenOrientation="landscape" android:configChanges="orientation|screenSize|keyboardHidden" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
